.nav_btn {
    -fx-background-color: #333333;
    -fx-cursor: hand;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-alignment: center;
    -fx-text-fill: #fff;
    -fx-background-radius: 10;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
}

.left_pane-dark {
    -fx-background-color: #1c1c1c;
    -fx-pref-width: 150px;
    -fx-pref-height: 600px;
}

.bottom_pane {
    -fx-background-color: #1c1c1c;
}

.profile_pic {
    -fx-stroke: #dedddc;
    -fx-stroke-width: 2;
}
